.header-title {
  text-align: center;
}

.green-section {
  background-color: green;
  color: white;
}

.section-title {
  font-family: Arial;
}

.cyan-list-item {
  color: cyan;
}

.crossed-item {
  text-decoration: line-through;
}
